<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <applicationSettings>
  <Viewer.Properties.Settings>
   <setting name="gw_width" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="gw_width_min" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="gw_width_max" serializeAs="String">
    <value>1500</value>
   </setting>
   <setting name="gw_center" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="gw_center_min" serializeAs="String">
    <value>-1000</value>
   </setting>
   <setting name="gw_center_max" serializeAs="String">
    <value>2000</value>
   </setting>
  </Viewer.Properties.Settings>
 </applicationSettings>
</configuration>